<h2>Détails du panier</h2>

<table>
  <tr>
    <th>Libelle</th><th>P.U.</th><th>Quantité</th><th>Total</th>
  </tr>
  <tr *ngFor="let ligne of panier.lignes">
    <td>{{ligne.dog.nom}}</td>
    <td>{{ligne.dog.prixUnitaire}}</td>
    <td>{{ligne.quantite}}</td>
    <td>{{ligne.dog.prixUnitaire * ligne.quantite}}</td>
  </tr>
</table>




