

<h1 *ngIf="movie">{{movie.Title}}, {{movie.Year}}</h1>


<ul> 
    <li *ngFor="let dog of dogs"
        (click)="choisir(dog)"
        [class.choisi]="dog == selectedDog"
        [class.possedePromo]="dog.promotion>0"
        >
        <span class="entete">{{dog.id}}</span>
        <span class="nom">{{dog.nom | uppercase}}</span>
        <!--
        <span class="prix" [class.barre]="dog.promotion>0">{{dog.prixUnitaire | currency}}</span> 
        <span class="promo" *ngIf="dog.promotion > 0">
            {{dog.prixUnitaire * (1-dog.promotion) | currency}}
            &nbsp;&nbsp;&nbsp;&nbsp;
            - {{dog.promotion | percent}} !!! 
        </span>
        -->
        <span class="prix">{{dog.prixUnitaire | currency:"EUR"}}</span> 
        <span class="promo">
            {{dog.prixUnitaire * (1-dog.promotion) | currency:"EUR"}}
            &nbsp;&nbsp;&nbsp;&nbsp;
            - {{dog.promotion | percent}} !!! 
        </span>
        <a routerLink='/chiens/{{dog.id}}'>voir</a>        
    </li>
</ul>

<app-dog-detail [dog]="selectedDog"></app-dog-detail>

