.entete{
    background: #d88d8d;
    padding:5px;
    margin-right:5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

li:not(.possedePromo) .promo{
    visibility: hidden;    
}

li.possedePromo .prix{
    text-decoration: line-through;
}

/*
.barre{
    text-decoration: line-through;
}
*/

.nom
{
    display:inline-block;
    width:150px;
}

.prix
{
    display:inline-block;
    width:60px;
}

li{
    background: #96b6e0;
    padding:5px 0;
    width: 400px;
    border-radius: 5px;
    margin:2px;
}

li.choisi{
    border : 2px solid #fd1616;
    font-weight: bold;
}


li:hover{
    background: #578cd1;
}